





.example-image{
    display: inline-block;
    width:50%;
    height:50%;
margin-top: 2%;
margin-bottom:2%;
text-align: center;}

.homepage{font-family: 'Caveat', cursive;
position: fixed;
font-size: 25px;
top:5px;
left:5px}


.image{text-align: center;}

a:link {
    text-decoration: none;
color:black;}

a:hover{
    font-size: 120%
}

ul { font-size:15px; 
    width:50%;
    margin:0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;

}

h1, h2, h3{
    font-family: 'Caveat', cursive;
text-align: center;
width:50%;
margin:0 auto;
margin-bottom: 10px;
margin-top: 20px;

}
  
    p{font-size:15px; 
    width:50%;
    margin:0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.brain{  display: block;
    width:10%;
    height:10%;
margin-top: 2%;
margin-bottom:2%;
margin-left: auto;
  margin-right: auto;}

  .objects {
    display: block;
    width:25%;
    height:25%;
margin-top: 2%;
margin-bottom:2%;
margin-left: auto;
  margin-right: auto;

  }
   
